
.notCompleted{
    font-size: 1em;
    background-color: red;
    color: chartreuse;
    /* font-weight: bold; */
    font-style: italic;
}
.completed{
    font-size: 2em;
    background-color: greenyellow;
    color: red;
    font-weight: 500;
    font-style:normal;
}