

<!-- ngif directives -->
    <!-- <div class="default" *ngIf="serverData.isShow == true || serverData.name == 'angular'" style="background-color: red;">
    <p>Some Content</p> 
    <p>some other Info</p>
    </div> -->

    
<!-- ngFor directives with ngStyle -->
<!-- <div>
    <h4 *ngFor="let emp of serverData.listOfEmp;let i = index"> <span *ngIf="emp.isCompleted">0 </span> {{i+1}} {{emp.name}}</h4>
</div> -->

<!-- ngSwitch directives -->

<!-- <div [ngSwitch]="serverData.name">
    <p *ngSwitchCase="'Angular'">This is Angular Course</p>
    <p *ngSwitchCase="'Java'">This is Java Course</p>
    <p *ngSwitchCase="'PhP'">This is PhP Course</p>
    <p *ngSwitchDefault>no course available like this</p>
</div> -->

<!-- Attribute directives -->
<!-- ngStyle attribute -->
<!-- ngFor directives with ngStyle -->
<!-- <div>
    <h4 *ngFor="let emp of serverData.listOfEmp;let i = index" [ngStyle]="{'background-color' : i < 1 ? 'green' : 'red'}"> <span *ngIf="emp.isCompleted">0 </span> {{i+1}} {{emp.name}}</h4>
</div> -->

<!-- ngFor directives with ngClass -->
<!-- <div>
    <p *ngFor="let emp of serverData.listOfEmp;let i = index" [ngClass]="[emp.isCompleted ? 'completed': 'notCompleted']"> <span *ngIf="emp.isCompleted">0 </span> {{i+1}} {{emp.name}}</p>
</div> -->

<!--  Custom directives -->

<h1 hideElement>This is custom directive
<span>Hi</span>    
</h1>
<h1 >This is custom directive 2</h1>
<h1 [hideElement]="data">This is custom directive 3</h1>
