

<!-- Template driven form -->
<!-- <h2>Template driven form</h2>
<form #loginForm="ngForm" (ngSubmit)="loginDetails(loginForm.value)"> 
<input type="email" required #username="ngModel" minlength="5" pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" placeholder="Enter Username" name="username" ngModel>
<br>
<span *ngIf="username.invalid && username.touched" style="color: red;">Username field is Invalid</span>
<br><br>
<input type="password" required #password="ngModel" placeholder="Enter Password" name="password" ngModel>
<br>
<span *ngIf="password.invalid && password.touched" style="color: red;">Password field is Invalid</span>
<br><br>
<button type="submit" [disabled]="!loginForm.valid">Log in</button>
</form>
<br>
<br> -->

<!-- Reactive form -->
<!-- <h2>Reactive form</h2>
<form [formGroup]="reactiveLoginForm" (ngSubmit)="reactiveLoginDetails(reactiveLoginForm)"> 
    <input type="email" placeholder="Enter Username" formControlName="username">
    <br><br>
    <input type="password" placeholder="Enter Password" formControlName="password">
    <br><br>
    <button type="submit">Log in</button>
</form> -->


<!-- Reactive form for basic information -->
<br>
<br>
<!-- <h2>Basic Information Form</h2>
<label for="">Details</label>
<p>{{ basicInfo.value | json }}</p>
<form [formGroup]="basicInfo" (ngSubmit)="submitBasicInfoForm(basicInfo)"> 
    <input type="text" placeholder="Enter name" formControlName="name">&nbsp;
    <div style="display: inline;" *ngIf="basicInfo.get('name')?.touched">
        <span style="color: red;" *ngIf="basicInfo.controls.name?.hasError('required')">The name field is required</span>
        <span style="color: red;" *ngIf="basicInfo.controls.name?.hasError('minlength')">The name length must be greater than 2 characters</span>
        <span style="color: red;" *ngIf="basicInfo.controls.name?.hasError('forbidden')">the value is forbidden (username is not allowed)</span>
    </div>
     <span style="color: red;" *ngIf="basicInfo.get('name')?.errors?.required">The name field is required</span>
    <span style="color: red;" *ngIf="basicInfo.controls.name?.errors?.required">The name field is required</span> 
    <br><br>
    <input type="text" placeholder="Enter address" formControlName="address">
    <br><br>
    <input type="password" placeholder="Enter Password" (input)="checkPassword()" formControlName="password">
    <br><br>
    <input type="password" placeholder="Enter confirm password" (input)="checkPassword()" formControlName="cnPassword">
    <br>
    <span style="color: red;" *ngIf="doNotMatch">The confirm password is do not match with the password field</span>
    <br><br>
    <input type="number" placeholder="Enter age" formControlName="age">
    <br><br>
    <input type="text" (keyup)="check()" placeholder="Enter Edu" formControlName="edu">
    <br><br>
    <label for="">Enable Updates</label>
    <input type="checkbox" formControlName="enableUpdates">
    <br><br>
    <input type="email" pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" placeholder="Enter Email" name="email" formControlName="email">
    <br>
    <span style="color: red;" *ngIf="email?.errors?.required && email?.touched">The email field is required</span>
    <br><br>
    <input type="number" placeholder="Enter Ph Number" formControlName="number">&nbsp;&nbsp;
    <button  type='button' style="display: inline;" (click)="addNumber()">Add Additional Number</button>
        <div formArrayName="additionalNumbers" *ngFor="let numb of additionalNumbers.controls; let i = index">
            <input type="number" placeholder="Enter Alternative Number" [formControlName]="i">
        </div>
    <br><br>
    <br><br>
    <div formGroupName="additionalInfo">
        <input type="text" placeholder="Enter Hobbies" formControlName="hobbies">
        <br><br>
        <input type="text" placeholder="Enter Website" formControlName="website">
        <br><br>
        <input type="text" placeholder="Enter TechSkills" formControlName="techSkills">
        <br><br>
    </div>
    <button type="submit">Submit</button>
</form> -->

<form [formGroup]="nestedForm">
    <div formArrayName="emails">
      <div *ngFor="let email of emails.controls; let i=index">
        <div [formGroupName]="i">
          <h4>Email {{i+1}}</h4>
          <label>
            Address:
            <input type="email" formControlName="address">
          </label>
          <label>
            Verified:
            <input type="checkbox" formControlName="verified">
          </label>
          <div formArrayName="phones">
            <div *ngFor="let phone of getPhonesFormGroup(i).controls; let j=index">
              <div [formGroupName]="j">
                <h5>Phone {{j+1}}</h5>
                <label>
                  Number:
                  <input type="tel" formControlName="number">
                </label>
                <label>
                  Type:
                  <select formControlName="type">
                    <option value="">Select a type</option>
                    <option value="home">Home</option>
                    <option value="work">Work</option>
                    <option value="mobile">Mobile</option>
                  </select>
                </label>
                <button type="button" (click)="removePhone(i, j)">Remove Phone</button>
              </div>
            </div>
            <button type="button" (click)="addPhone(i)">Add Phone</button>
          </div>
          <button type="button" (click)="removeEmail(i)">Remove Email</button>
        </div>
      </div>
    </div>
</form>

  



