
<!-- <div class="inputBox"> 
    <h4>Channel : </h4>
    <input type="text" #videoRef>
    <button (click)="videoPublish(videoRef.value)">publish</button>
</div>

<br>
<div class="container">
    <ul>
        <label for="">Subscriber 1</label>
        <li *ngFor="let video of channelVideo"><strong>{{video}}</strong></li>
    </ul>
    <ul style="display: flex;flex-direction:column;gap:1em;">
        <label for="">Subscriber 2</label>
        <li *ngFor="let video of channelVideo2"><strong>{{video}}</strong></li>
        <button (click)="subscriber2()" [ngClass]="subscriber1Flag === true ? 'unsubscribe' :'subscribe'">{{subscriber1Flag === true ? 'Unsubscribe' : 'Subscribe'}}</button>
    </ul>
    <ul style="display: flex;flex-direction:column;gap:1em;">
        <label for="">Subscriber 3</label>
        <li *ngFor="let video of channelVideo3"><strong>{{video}}</strong></li>
        <button (click)="subscriber3()" [ngClass]="subscriber2Flag === true ? 'unsubscribe' :'subscribe'">{{subscriber2Flag === true ? 'Unsubscribe' : 'Subscribe'}}</button>
    </ul>  
</div> -->

<div class="inputBox"> 
    <h4>async data : </h4>
    <input type="text" #asyncRef>
    <button (click)="asyncPublish(asyncRef.value)">publish</button>
</div>


<div class="container">
    <p class="dataText" *ngIf="updatedAsyncData">{{updatedAsyncData}} this is emited data</p>

    <button (click)="completeTheStream()">Complete stream</button>
</div>