.inputBox{
    width: calc(100% - 6em);
    margin: 2em;
    margin-bottom: 0;
    padding: 1em;
    background-color: burlywood;
    display: flex;
    align-items: center;
    gap: 1em;
}

.container{
    width: calc(100% - 6em);
    margin: 2em;
    margin-top: 0;
    padding: 1em;
    background-color:cornflowerblue;
    display: flex;
    flex-direction: column;
    gap: 1em;

}

.subscribe{
    background-color: green;
}
.unsubscribe{
    background-color: red;
}

.dataText{

}