&nbsp;<h2>Rxjs Series</h2>

<ol class="headerMenus">
    <!-- <li routerLink="basics-rxjs">
       <strong> basics of rxjs</strong> 
    </li>
    <li routerLink="operators">
        <strong>Operators</strong> 
     </li> -->
     <li *ngFor="let menu of menus" [routerLink]="menu.link"><strong>{{menu.title}}</strong></li>
</ol>
<br>
<h3 *ngIf="showImporant" style="font-weight: 600;color: red;margin-left: 1.5em;">Note : This is important topic</h3>


<div class="mainContent">
    <router-outlet></router-outlet>
</div>