ol > li{
    cursor: pointer;
    padding: 10px 0;
    border-top : 1px solid black;
    margin: 5px 0px;

}

.headerMenus{
    background-color: aqua;
}

.mainContent{
    width: calc(100% - 10em);
    margin: 1em 5em; 
    border: 1px solid black;
}