.advanceMapsOperatorsSection{
    width: 100%;
    background-color: aqua;
    height: auto;
    min-height: 100px;
    display: flex;
    gap: 1em;
    padding: 1em 0em;
    margin: 1em 0em;
    justify-content: space-around;

}
.mergeMapSection{
    width: 25%;
    display:  flex;
    flex-direction: column;
    align-items: start;
}


.advanceMapsOperatorsSection h3 {
    margin-bottom: 0em;
}




