<p>operators works!</p>

<!-- <ul>
    <li *ngFor="let data of dataStream">{{data}}</li>
</ul>

<ul>
    <li *ngFor="let num of numbers">{{num}}</li>
</ul> -->


<label for="">Employee names : </label><br>
<ul>
    <li *ngFor="let emp of employees">{{emp}}</li>
</ul>


<label for="search">Search : </label>
<input type="text" #searchInput>
<h3>Hello this is test</h3>
<!-- 
<div class="advanceMapsOperatorsSection">
        <div class="mergeMapSection">
            <h3>MergeMap Example:</h3>
            <ul>
                <li *ngFor="let data of mergeMapStreamData">{{data}}</li>
            </ul>
        </div>
        <div class="mergeMapSection">
            <h3>ConcantMap Example:</h3>
            <ul>
                <li *ngFor="let data of concatMapStreamData">{{data}}</li>
            </ul>
        </div>
        <div class="mergeMapSection">
            <h3>SwitchMap Example:</h3>
            <ul>
                <li *ngFor="let data of switchMapStreamData">{{data}}</li>
            </ul>
        </div>
</div> -->
<ul>
    <li *ngFor="let emp of employeeList | async">{{emp.employeeName}}</li>
</ul>