

<!-- default pipes -->
<!-- <h1>{{ title | lowercase }}</h1>
<h1>{{ title | uppercase }}</h1>
<p>{{ serverData | json }}</p>
<p>{{ todaysDate | date }}</p>
<p>{{ todaysDate | date : 'dd/MM/yyyy' }}</p>
<p>{{ curr | currency : 'EUR' }}</p> -->


custom pipes
<h1>{{ inrAmount  | convertIntoSpecificCurr : 'USD' : serverData }}</h1> 
