<h2>Parent component</h2>
    <!-- <button (click)="toggleChild = !toggleChild">Toggle</button>
    <input type="text" [(ngModel)]="courseName"> -->
<!-- <app-child [name]="courseName" (triggerClick)="getDataFromChildComponent($event)"></app-child> -->
<!-- <app-child *ngIf="toggleChild" [name]="courseName">
    <h2 #parentContent>Content from parent</h2>
</app-child> -->

<!-- <form [formGroup]="nestedForm" (ngSubmit)="submitForm(nestedForm)">
    <div formArrayName="emails">
      <div *ngFor="let email of emails.controls; let i=index" [formGroupName]="i">
        <h4>Email {{i+1}}</h4>
        <label>
          Address:
          <input type="email" formControlName="address">
        </label>
        <label>
          Verified:
          <input type="checkbox" formControlName="verified">
        </label>
        <div formArrayName="phones">
          <div *ngFor="let phone of getPhonesFormGroup(i).controls; let j=index" [formGroupName]="j">
            <h5>Phone {{j+1}}</h5>
            <label>
              Number:
              <input type="tel" formControlName="number">
            </label>
            <label>
              Type:
              <select formControlName="type">
                <option value="">Select a type</option>
                <option value="home">Home</option>
                <option value="work">Work</option>
                <option value="mobile">Mobile</option>
              </select>
            </label>
            <button type="button" (click)="removePhone(i, j)">Remove Phone</button>
          </div>
          <button type="button" (click)="addPhone(i)">Add Phone</button>
        </div>
        <button type="button" (click)="removeEmail(i)">Remove Email</button>
      </div>
    </div>
    <button type="button" (click)="addEmail()">Add Email</button>

    <button type="submit">submit</button>
  </form>
   -->
  
  


