
<!-- aot jit example below -->
<!-- <h2>{{ getStart() }}</h2> -->

<!-- Interpolation -->
<!-- <h2>{{ data }}</h2> -->

<!-- property binding -->
<!-- <input type="text" (input)="eventBinding($event)" [value]="apiData"> -->

<!-- event binding -->
<!-- <button (click)="eventBinding($event)">Click me</button> -->
<!-- <br><br> -->
<!-- two way binding -->
<!-- <input type="text" [(ngModel)]="twoWayBindingVariable">
<p>{{ twoWayBindingVariable }}</p> -->

<!-- this is directives -->
<!-- <app-directives ></app-directives> -->

<!-- this is pipe -->
<!-- <app-pipes></app-pipes> -->

<!-- Services -->
<!-- <app-services></app-services> -->

<!-- routing -->

<!-- <button routerLink="directives">Directives comonent</button>&nbsp;
<button routerLink="pipes">Pipes component</button>&nbsp;
<button routerLink="services">Services component</button>

<div class="componentContainer">
    <router-outlet></router-outlet>
</div> -->

<!-- Forms types and examples -->
<app-forms-feature></app-forms-feature>

